@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*  font-family: 'PT Sans', sans-serif;  -TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=PT+Sans&display=swap');
/*font-family: 'Fira Sans Condensed', sans-serif; -TITULO*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/********************  PAGINA 3**************************/

.pagina3{
    width: 100%;
    height: 690px;
}

.p3-pag1{
    width: 65%;
    height: 100%;
    float: left;
}

.fotop3{
    width: 90%;
    height: 60%;
    margin: 0px auto;
    background-size: cover;
    margin-top: 18%;
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    animation: p3 40s infinite;
}

@keyframes p3{
    0%{
        background-image: url(../IMG/iglesia2.jpg);
    }
    45%{
        background-image: url(../IMG/iglesia2.jpg);
    }
    55%{
        background-image: url(../IMG/iglesia3.jpg);
    }
    100%{
        background-image: url(../IMG/iglesia3.jpg);
    }
}

.p3-pag2{
    width: 35%;
    height: 100%;
    float: right;
}

.p3-cuerpo{
    width: 90%;
    height: 40%;
    float: left;
    margin-top: 55%;
}

.p3-cuerpo h1{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    animation: pagina3 3s infinite;
}

@keyframes pagina3{
    0%{
        color: #1f6696;
    }
    45%{
        color: rgb(218, 151, 8);
    }
    55%{
        color: rgb(218, 151, 8);
    }
    100%{
        color: #1f6696;
    }
}

.p3-cuerpo p{
    font-family: 'PT Sans', sans-serif;
    color: rgb(102, 101, 101);
}

.p3-cuerpo a{
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    text-decoration: none;
    color: #fff;
    background-color: #1f6696;
    transition: all 1s ease;
}

.p3-cuerpo a:hover{
    transition: all 1s ease;
    background-color: rgb(219, 218, 218);
    color: #1f6696;
}

.p3-cuerpo a:hover::before{
    content: "__ ";
    transition: all 1s ease;
}

/*********************************Pagina 4************************/

.pagina4{
    width: 100%;
    height: 450px;
    background: fixed;
    background-image: url(../IMG/fotomapa.png);
    background-size: cover;
    filter: blur(5px);
    transition: all 2s ease;
}

.pagina4:hover{
    filter: none;
    transition: all 2s ease;
}

.pagina4-content{
    width: 45%;
    height: 100%;
    margin: 0px auto;
}

.pagina4-content h2{
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif; 
    font-size: 25px;
    color: rgb(218, 151, 8);
}

.pagina4-content  p{
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif; 
}

.pagina4-content form .nombre{
    width: 100%;
    height: 35px;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.349);
    border-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.pagina4-content form .tarea{
    width: 100%;
    height: 120px;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.349);
    border-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    max-width: 100%;
    max-height: 120px;
}

.p4-boton{
    margin: 0px auto;
    display: block;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(218, 151, 8);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    border-color: rgb(218, 151, 8);
    transition: all 1s ease;
}

.p4-boton:hover{
    color: rgb(218, 151, 8);
    transition: all 1s ease;
    background-color: rgb(219, 218, 218);
    border-color: rgb(219, 218, 218);
}

/*******************PAGINA 5**************************************/

.pagin5-cabeza{
    width: 100%;
    height: 160px;
    background-color: rgb(230, 230, 230);
}

.pagin5-cabeza h3{
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #1f6696;
    font-size: 30px;
}

.pagin5-cabeza p{
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: 'PT Sans', sans-serif;
}

.iglesias{
    width: 100%;
    height: 500px;
    background-color: rgb(230, 230, 230);
}

.iglesias .iglesia1{
    width: 29%;
    height: 90%;
    background-color: #fff;
    float: left;
    margin-left: 3%;
    transition: all 1s ease;
}

.iglesia1:hover{
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.iglesias .iglesia2{
    width: 29%;
    height: 90%;
    background-color: #fff;
    margin: 0px auto;
    transition: all 1s ease;
}

.iglesia2:hover{
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.iglesias .iglesia3{
    width: 29%;
    height: 90%;
    background-color: #fff;
    float: right;
    margin-right: 3%;
    margin-top: -35%;
    transition: all 1s ease;
}

.iglesia3:hover{
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.iglesia-sec1{
    width: 100%;
    height: 45%;

}

.iglesia-img{
    width: 100%;
    height: 100%;
}

.iglesia-sec2{
    width: 100%;
    height: 55%;

}

.iglesia-sec2 h4{
    text-align: center;
    color: rgb(218, 151, 8);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
}

.iglesia-sec2 p{
    text-align: center;
    color: rgb(107, 107, 107);
    font-family: 'PT Sans', sans-serif;
    padding: 3%;
}

.iglesia-sec2 a{
    text-decoration: none;
    padding: 3%;
    background-color: #1f6696;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    margin-left: 35%;
    transition: all 1s ease;
}

.iglesia-sec2 a:hover{
    color: #1f6696;
    background-color: rgb(231, 228, 228);
    transition: all 1s ease;
    border-radius: 10px;
}

/****************************PAGINA 6***********************/

.pagina6{
    width: 100%;
    height: 690px;
}

.pagina6-cuerpo1{
    width: 30%;
    height: 40%;
    float: left;
    margin-top: 20%;
    margin-left: 3%;
}

.pagina6-cuerpo2{
    width: 60%;
    height: 70%;
    float: right;
    margin-top: 10%;
    margin-right: 3%;
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
}

.pagina6-cuerpo2 iframe{
    width: 100%;
    height: 100%;
}

.pagina6-cuerpo1 h4{
    color: #1f6696;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 30px;
}

.pagina6-cuerpo1 p{
    color: rgb(71, 70, 70);
    font-family: 'PT Sans', sans-serif;
}

/***************************PAGINA 7*********************/

.pagina7{
    width: 100%;
    height: 380px;
    background-color: rgb(241, 241, 241);
}

.pagina7 h5{
    text-align: center;
    color: #1f6696;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 35px;
}

.somos{
    padding: 10px;
    width: 280px;
    height: 280px;
    filter: grayscale(80%);
    transition: all .5s ease;
    cursor: pointer;
}

.somos:hover{
    filter: none;
    transition: all .5s ease;
}

/***************************PAGINA 8*********************/

.pagina8{
    width: 100%;
    height: 550px;
}

.p8-1{ /*Contenedor de mapa*/
    width: 60%;
    height: 100%;
    float: left;
}

.p8-1 .mapita{
    width: 100%;
    height: 100%;
}

.p8-2{
    width: 40%;
    height: 100%;
    float: right;
    background: fixed;
    background-image: url(../IMG/orar1.png);
    background-size: cover;  
}

.p8-2-1{
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

.p8-2-1 img{/*Loguito*/
    width: 25%;
    display: block;
    margin: 0px auto;
    padding-top: 3%;
}

.p8-2-1 p{
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
}

/**Input**/

.Nombre{
    width: 100%;
    height: 35px;
    text-align: center;
    color: rgb(124, 124, 124);
    border-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.tiempo{
    width: 47%;
    height: 35px;
    float: left;
    text-align: center;
    color: rgb(124, 124, 124);
    border-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.tiempo1{
    width: 47%;
    height: 35px;
    float: right;
    text-align: center;
    color: rgb(124, 124, 124);
    border-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.p8-2-1 .boton{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0px auto;
    font-family: 'PT Sans', sans-serif; 
    background-color: rgb(218, 151, 8);
    border-color: rgb(218, 151, 8);
    color: #fff;
    transition: all 1s ease;
}

.p8-2-1 .boton:hover{
    padding-left: 8%;
    padding-right: 8%;
    transition: all 1s ease;
    background-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
    color: rgb(218, 151, 8);
}

/************************PAGINA 9 *****************************/

.pagina9{
    width: 100%;
    height: 180px;
    background-color: rgb(26, 25, 25);
}

.pagina9-cont1{
    width: 40%;
    height: 100%;
    margin: 0px auto;
}

.pagina9-cont1 .iconoo a{
    color: #fff;
    font-size: 20px;
    margin: 0px auto;
    margin-left: 15%;
}

.iconoo{
 width: 30%;
 height: 20%;
 margin: 0px auto;
}

.p9-boton{
    width: 55%;
    height: 30%;
    margin: 0px auto;
}

.p9-boton a{
    text-decoration: none;
    color: #fff;
    background-color: #1f6696;
    padding: 5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 26%;
    padding-right: 26%;
    border-radius: 50px;
    transition: all 1s ease;
    margin-left: 10%;
}

.p9-boton a:hover{
    background-color: rgb(219, 217, 217);
    color: #1f6696;
    transition: all 1s ease;
}


/*************FOOTER**********************/

.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(27, 27, 27);
    -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
}

.capa1{
    width: 5%;
    height: 50px;
    float: left;
    background-color: rgb(27, 27, 27);
}

.capa2{
    width: 45%;
    height: 50px;
    float: left;
    background-color: rgb(27, 27, 27);
}

.capa3{
    width: 45%;
    height: 50px;
    float: left;
    background-color: rgb(27, 27, 27);
}

.capa4{
    width: 5%;
    height: 50px;
    float: right;
    background-color: rgb(27, 27, 27);
}

.pi1{
    color: #fff;
    padding: 3%;
    font-family: 'PT Sans', sans-serif;
}

.pi2{
    color: #fff;
    padding: 3%;
    text-align: right;
    font-family: 'PT Sans', sans-serif;
}

.pi3{
    color: rgb(185, 182, 182);
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    transition: all .5s ease;
}

.pi3:hover{
    color: rgb(218, 151, 8);
    font-size: 17px;
    transition: all .5s ease;
}

.final{
    width: 100%;
    height: 10px;
    animation: final 0.5s infinite;
}

@keyframes final{
    0%{
        background-color: rgb(218, 151, 8);
    }
    45%{
        background-color: rgb(138, 96, 8);
    }
    55%{
        background-color: rgb(138, 96, 8);
    }
    100%{
        background-color: rgb(218, 151, 8);
    }
}
